$card-width: 350px;
$text-color: #404040;
$grey: #aaaaaa;
$light-grey: #F5F5F5;
$white: #fff;
$green: #A0D1C5;
$dark-green: #5EA490;
$yellow: #F1BE02;
$dark-yellow: #B18B00;
$blue: #548696;
$dark-blue: #12586A;
$silver: #DDDDDD;
$orange: #E78352;
